<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head>
    <title>About AUTS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/styles/headerStyles.css}" rel="stylesheet">
    <link th:href="@{/styles/footerStyles.css}" rel="stylesheet">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    
    <div class="container mt-5">
        <h1>AUTS is a group of individual degenerates</h1>
    </div>

    <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>