<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head>
    <title>AUTS homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/styles/headerStyles.css}" rel="stylesheet">
    <link th:href="@{/styles/footerStyles.css}" rel="stylesheet">
</head>
<body>
    <header th:insert="~{blocks/header :: header}"></header>
    
    <img src="/images/Polite_cat.jpg" alt="Polite cat image"
        style="display: block; margin-left: auto; margin-right: auto; width: 50%;"
    >
    
    <footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>