<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/styles/footerStyles.css">
</head>
<body>
    <div th:fragment="footer">
        <hr>
        <footer class="text-body-secondary py-5">
            <div class="container">
                <p class="toTop">
                    <a href="#">Back to top</a>
                </p>
                <p class="copyright">This website is property of AUTS©, all rights reserved to MaksMnogopizdit</p>
            </div>
        </footer>
    </div>
</body>
</html>