<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header AUTS</title>
    <link rel="stylesheet" href="/src/main/resources/static/styles/headerStyles.css">
</head>
<body>
    <div th:fragment="header">
        <div>
            <div class="AUTS">
                <ul>
                    <li><a href="/">Homepage</a></li>
                    <li><p>AUTS</p></li>
                    <li><a href="/articles">test</a></li>
                </ul>
            </div>
            <nav class="navBar">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/blog/add">Shitpost</a></li>
                    <li><a href="">aboba</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
